name: CI/CD Pipeline

# Marketplace GITHUB : Pour les actions
# https://github.com/marketplace?query=cypress&type=actions

# Documentation GITHUB : Pour expression, variable, cache etc...
# https://docs.github.com/fr/actions/reference/workflows-and-actions/expressions

# env: Variables d’environnement (utilisable partout)
# needs: ne se lance que si le job dedans a réussi
# uses: sert à appeler une action existante, publiée sur GitHub Marketplace.

  # with: fournit des paramètres à une action (Quand on utilise "uses:"", certaines actions ont besoin de configurations)

    # if: condition d'exécution
    # run: sert à exécuter une commande Linux
    # build: compile
    # start: démarre l'application
    # wait-on: attendre que ton app soit prête
    # command: commande de lancement des tests Cypress

# Déclencheurs du workflow : A chaque push et pull
on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

# Variables d’environnement globales
env:
  NODE_VERSION: "20"
  # DOCKER_IMAGE_NAME: vyem-m2i/tp_github

jobs:
  # ===========================================
  # JOB 1 : Tests
  # ===========================================
  test:

    # S’exécute sur une machine Linux
    runs-on: ubuntu-latest

    steps:
      # TODO: Checkout du code : Télécharge mon dépôt dans la machine virtuelle
      - name: Checkout code
        uses: actions/checkout@v4

      # TODO: Setup Node.js (version 20) : Cache automatique npm basé sur package-lock.json et Télécharge et installe Node.js
      - name: Configuration Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"

      # TODO: Installer les dépendances : Installation recommandée en CI
      - name: Installation des dépendances (si cache manquant)
        run: npm ci

      # TODO: Lancer les tests Cypress
      # Indice: Utilisez l'action officielle cypress-io/github-action@v6
      - name: Exécuter les tests avec Cypress
        uses: cypress-io/github-action@v6 # Exécute Cypress Headless automatiquement
        with:

          build: npm ci #(Cypress demande au projet de compiler le frontend avant de lancer les tests)
          start: npm start
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 120

      # TODO: Uploader les artefacts (vidéos/screenshots) en cas d'échec
      - name: Upload Cypress videos
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-results
          path: |
            cypress/videos
            cypress/screenshots

  # ===========================================
  # JOB 2 : Build Docker
  # ===========================================
  build:
    runs-on: ubuntu-latest
    needs: test  # Ce job dépend du succès des tests
    if: github.ref == 'refs/heads/main'  # Exécute le job seulement quand on est sur main

    steps:
      # TODO: Checkout du code
      - name: Checkout code
        uses: actions/checkout@v4
      # TODO: Login au registry Docker (GitHub Container Registry)
      - name: Set up docker login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # TODO: Build de l'image Docker avec les tags appropriés
      # Tags suggérés:
      #   - latest
      #   - v1.0.0-${{ github.run_number }}
      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .

          push: false

          tags: |

            ghcr.io/${{ env.DOCKER_IMAGE_NAME }}:latest
            ghcr.io/${{ env.DOCKER_IMAGE_NAME }}:v1.0.0-${{ github.run_number }}

            #ghcr.io/${{ github.repository }}:latest
            #ghcr.io/${{ github.repository }}:v1.0.0-${{ github.run_number }}

      # TODO: Push de l'image vers le registry
      - name: Push image vers Registry
        uses: docker/build-push-action@v5
        with:
          context: .

          push: true  # Cette étape pousse l'image vers le registry

          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:v1.0.0-${{ github.run_number }}

      - name: logout
        if: always()
        run: docker logout

# Commandes dans le Powershell : 
# git add .
# git commit -m "feat: add CI/CD pipeline with Cypress tests"
# git push origin main